* {
    text-align: center;
}

.label_item {
  font-size: .6em;
}



#search-results{
	margin-top: 5%;
}

#my-movies{
	margin-top: 5%;
}

#my-watched-movies{
	margin-top: 5%;
}

#favorites{
	margin-top: 5%;
}

.card-wrapper{
	margin-bottom: 5%;

	min-height: 524px;
	height: 524px;
	width: 210px;
	
}
